*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

@media (min-width: 1851px) and (max-width: 1919px) {

}

@media (min-width: 1651px) and (max-width: 1850px) {

}

@media (min-width: 1441px) and (max-width: 1650px) {

}

@media (min-width: 1241px) and (max-width: 1440px) {

}

@media (min-width: 1025px) and (max-width: 1240px) {

}

/* 1024px - Tablets, laptops, and desktops */
@media only screen and (max-width: 1024px) {

}

@media (min-width: 851px) and (max-width: 980px) {

}

@media (min-width: 569px) and (max-width: 714px) {
  /*--Section 1st CSS Starts--*/
.wrapper {
  width: 0px;
  height: 0px;
}
.Aboutus {
  min-height: 403vh;
  width: 400%;
  top: 0%;
  background-position: center;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}
.Aboutus nav {
  height: 150;
  background-color: transparent;
  transition: background-color 3600s ease;
  position: absolute;
  top: 85;
  width: 92%;
  z-index: 1000;
}
  .Aboutus nav .logohumain{
    width: 295px;
    margin-left: -8%;
  }
  .Aboutus .nav-links{
    display: none;
  }
  .Aboutus .btnLogin-popup img{
    margin-top: 10;
    margin-left: 55;
  }
  .btnLogin-popup img {
    width: 100px;
  }
  .Aboutus .sub-menu-wrap{
    top: 85%;
  }
  .Aboutus .wrapper{
    margin-top: 70%;
    transform: translate(-15%);
  }
  .littleaboutus {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
  .littleaboutus h1{
    font-size: 90px;
    padding-top: 150px;
    padding-bottom: 15px;
    color: #fff;
  }
  .littleaboutus p{
    color: #fff;
    font-size: 35px;
    line-height: 1.5;
    font-weight: 500;
  }
  .text-formatting{
    background: #E9AF38;
    border-radius: 10px;
    padding: 5px 10px;
  }
  .text-formatting1{
    background: #E9AF38;
    border-radius: 10px;
    padding: 5px 10px;
    padding-top: 0px;
  }
  .aboutusread{
    margin-top: 22;
    border-radius: 10px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 12px 34px;
    font-size: 33px;
    background: #2FAAE5;
    position: relative;
    cursor: pointer;
  }
  /*--Section 1st CSS Ends--*/
  
/*--Section 2nd CSS Starts--*/
.Classroom{
  width: 400%;
  margin: auto;
  margin-top: 120px;
}
.Classroom h1{
  text-align: center;
  font-size: 65px;
}
.Classroom-col{
  max-width: 3000px;
  width: 95%;
  position: relative;
  margin-left: 2.4%;
  padding-top: 95px;
}
.carousel .Classroom-card {
  height: 590px;
}
.Classroom-col .carousel {
  grid-auto-columns: calc((100% / 3) - 14px);
}
/*--Section 2nd CSS Ends--*/

/*--Section 3rd CSS Starts--*/
.Board{
  width: 400%;
  margin: auto;
  padding-top: 105px;
}
.Board h1{
  text-align: center;
  font-size: 65px;
}
.Board-col{
  padding-top: 0px;
  display: flex;
  justify-content: space-evenly;
  padding-top: 60px;
}
.Board-col h1{
  font-size: 75px;
  padding-top: 245px;
}
.Board-col img{
  width: 900px;
}
/*--Section 3rd CSS Ends--*/

/*--Section 4th CSS Starts--*/
.subjects{
  width: 400%;
  margin: auto;
  padding-top: 60px;
}
.subjects h1{
  text-align: center;
  font-size: 65px;
}
.subjects-card{
  display: flex;
  margin-top: 120px;
  justify-content: center;
  gap: 282px;
}
.subjects-col.karna{
  margin-top: -95px;
}
.subjects-col.card-4.karna2{
  margin-top: -92px;
  margin-left: 190;
}
/*--Section 4th CSS Ends--*/

/*--Section 5th CSS Starts--*/
.books{
  width: 400%;
  margin: auto;
  padding-top: 107px;
}
.books h1{
  text-align: center;
  font-size: 65px;
}
.book-image{
  display: none;
}
.books-modern-table{
  display: flex;
  justify-content: center;
  margin-top: 105px;
}
.books-showcase{
  margin-top: 95px;
}
.classes-select-container{
  width: calc(45%);
}
.subjects-select-container{
  width: calc(45%);
}
img#book-image {
  width: 60%;
  margin-left: 50px;
  margin-right: 45px;
}
.cooler{
  width: 29%;
}
.buy-book{
  margin-top: 5%;
  text-align: center;
}
.buy-book img {
  border-radius: 15px;
  width: 95%;
}
/*--Section 5th CSS Ends--*/

/*--Section 6th CSS Starts--*/
.Fullaboutus8 {
  width: 400%;
  margin: auto;
  padding-top: 110px;
}
.Fullaboutus8 h1 {
  text-align: center;
  font-size: 65px;
}
.lastyear {
  display: flex;
  margin-top: 5%;
}
.lastyear h1{
  font-size: 95px;
}
/*--Section 6th CSS Ends--*/

/*--Section 7th CSS Starts--*/
.Enroll-link{
  width: 400%;
  margin:auto;
  padding-top: 45px;
}
.Enroll-link h1{
  font-size: 65px;
}
.enroll-img img {
  width: 90%;
}
.enroll-img{
  margin-top: 5%;
  margin-bottom: 4.5%;
}
.box {
  width: 60px;
  height: 66px;
  font-size: 32;
}
/*--Section 7th CSS Ends--*/

/*--btt CSS Starts--*/
.backtotop{
  width: 200%;
  margin-bottom: 150px;
}
.btt {
  width: 70px;
  height: 70px;
  margin-left: 185%;
  margin-top: -60px;
}
.svgIcon {
  width: 20px;
}
/*--btt CSS Ends--*/

/*--Footer as Section 8th CSS Starts--*/
footer{
  width: 400%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  }
  .footer-row {
    width: 94%;
    margin: auto;
    display: flex;
    padding-top: 30;
    justify-content: space-between;
}
  .footer-col{
    padding: 3px;
    display: inline-block;
    flex-basis: 27%;
  }
  .logo{
  width: 30%;
  margin-left: -26px;
  }
  footer p{
  font-size: 27px;
  line-height: 1.3;
  }
  .footer-col1{
  padding-top: 25px;
  margin-left: -5px;
  }
  .footer-col1 h3 {
    padding-bottom: 40px;
    font-size: 31.9px;
  }
  .footer-col1 p {
    padding-bottom: 13px;
    line-height: 1.4;
  }
  .email-id {
    border-bottom: 2px solid #ccc;
  }
  .footer-col1 h4 {
    padding-top: 35px;
    font-size: 31.9;
  }  
  .footer-col2{
  padding-top: 25px;
  margin-left: 20px;
  }
  .footer-col2 h3 {
    padding-bottom: 52.5px;
    font-size: 31.9px;
  }
  .footer-col2 ul li {
    list-style: none;
    margin-bottom: 30px;
  }
  .footer-col2 ul li a {
    font-size: 27;
    font-weight: 400;
  }      
  .footer-col3{
    padding-top: 25px;      
    margin-left: 0px;
  }
  .footer-col3 h3 {
    padding-bottom: 45px;
    font-size: 31.9;
  }
  .footer-col3 form {
    padding-top: 11px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #ccc;
    margin-bottom: 50px;
  }
  .footer-col3 form .far {
    font-size: 28px;
    margin-right: 16px;
  }
  .footer-col3 form input {
    width: 100%;
    background: transparent;
    outline: none;
    color: #fff;
    font-size: 22;
    border: 0;
  }
  .footer-col3 form button .fas {
    font-size: 27px;
    color: #ccc;
  }  
  .footer-col4{
  padding-top: 25px;
  margin-left: 0px;
  }
  .footer-col4 .fab {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    text-align: center;
    line-height: 70px;
    font-size: 130%;
    color: #000;
    background: #fff;
    margin-right: 10px;
    cursor: pointer;
  }  
  .footer-col5{
  padding-top: 36px;
  margin-left: 46%;
  }
  .footer-col5 h3 {
    padding-bottom: 38px;
    font-size: 31;
  }
  .footer-col5 p {
  margin-left: -150px;
  padding-bottom: 30;
  }
  .underline1{
  display: none;
  }
  .underline2{
  display: none;
  }
  .underline3{
  display: none;
  }
  .underline4{
  display: none;
  }
  /*--Footer as Section 8th CSS Ends--*/
  
  /*Newsletter CSS Starts*/
  .popup {
    top: 2300px;
    left: 72.7%;
    width: 450px;
  }
  /*Newsletter CSS Ends*/
}

/* 568px - Mobile devices */
@media only screen and (max-width: 568px) {
/*--Section 1st CSS Starts--*/
.wrapper {
    width: 0px;
    height: 0px;
  }
  .Aboutus {
    min-height: 403vh;
    width: 400%;
    top: 0%;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .Aboutus nav {
    height: 150;
    background-color: transparent;
    transition: background-color 3600s ease;
    position: absolute;
    top: 85;
    width: 92%;
    z-index: 1000;
  }
    .Aboutus nav .logohumain{
      width: 295px;
      margin-left: -8%;
    }
    .Aboutus .nav-links{
      display: none;
    }
    .Aboutus .btnLogin-popup img{
      margin-top: 10;
      margin-left: 55;
    }
    .btnLogin-popup img {
      width: 100px;
    }
    .Aboutus .sub-menu-wrap{
      top: 85%;
    }
    .Aboutus .wrapper{
      margin-top: 70%;
      transform: translate(-15%);
    }
    .littleaboutus {
      width: 90%;
      color: #fff;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
  }
    .littleaboutus h1{
      font-size: 62px;
      padding-top: 150px;
      padding-bottom: 15px;
      color: #fff;
    }
    .littleaboutus p{
      color: #fff;
      font-size: 22px;
      line-height: 1.5;
      font-weight: 500;
    }
    .text-formatting{
      background: #E9AF38;
      border-radius: 10px;
      padding: 5px 10px;
    }
    .text-formatting1{
      background: #E9AF38;
      border-radius: 10px;
      padding: 5px 10px;
      padding-top: 0px;
    }
    .aboutusread{
      margin-top: 22;
      border-radius: 10px;
      display: inline-block;
      text-decoration: none;
      color: #fff;
      padding: 12px 34px;
      font-size: 23px;
      background: #2FAAE5;
      position: relative;
      cursor: pointer;
    }
    /*--Section 1st CSS Ends--*/
    
/*--Section 2nd CSS Starts--*/
.Classroom{
    width: 400%;
    margin: auto;
    margin-top: 100px;
  }
  .Classroom h1{
    text-align: center;
    font-size: 65px;
  }
  .Classroom-col{
    max-width: 2277px;
    width: 95%;
    position: relative;
    margin-left: 2.4%;
    padding-top: 70px;
  }
  /*--Section 2nd CSS Ends--*/
  
  /*--Section 3rd CSS Starts--*/
  .Board{
    width: 400%;
    margin: auto;
    padding-top: 82px;
  }
  .Board h1{
    text-align: center;
    font-size: 65px;
  }
  .Board-col{
    padding-top: 0px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 60px;
  }
  .Board-col h1{
    font-size: 47px;
    padding-top: 133px;
  }
  .Board-col img{
    width: 500px;
  }
  /*--Section 3rd CSS Ends--*/
  
  /*--Section 4th CSS Starts--*/
  .subjects{
    width: 400%;
    margin: auto;
    padding-top: 65px;
  }
  .subjects h1{
    text-align: center;
    font-size: 65px;
  }
  .subjects-card{
    display: grid;
    margin-top: 75px;
    justify-content: center;
    gap: 50px;
  }
  .subjects-col.karna{
    margin-top: -95px;
  }
  .subjects-col.card-4.karna2{
    margin-top: -41px;
  }
  /*--Section 4th CSS Ends--*/
  
  /*--Section 5th CSS Starts--*/
  .books{
    width: 400%;
    margin: auto;
    padding-top: 80px;
  }
  .books h1{
    text-align: center;
    font-size: 65px;
  }
  .book-image{
    display: none;
  }
  .books-modern-table{
    display: flex;
    justify-content: center;
    margin-top: 5.5%;
  }
  .books-showcase{
    margin-top: 5.5%;
  }
  .classes-select-container{
    width: calc(41%);
  }
  .subjects-select-container{
    width: calc(41%);
  }
  img#book-image {
    width: 55%;
    margin-left: 50px;
    margin-right: 45px;
  }
  .cooler{
    width: 26%;
  }
  .buy-book{
    margin-top: 5%;
    text-align: center;
  }
  .buy-book img {
    border-radius: 15px;
    width: 90%;
  }
  /*--Section 5th CSS Ends--*/
  
  /*--Section 6th CSS Starts--*/
  .Fullaboutus8 {
    width: 400%;
    margin: auto;
    padding-top: 80px;
  }
  .Fullaboutus8 h1 {
    text-align: center;
    font-size: 65px;
  }
  .lastyear {
    text-align: center;
    display: block;
    margin-top: 5.5%;
  }
  .lastyear h1 {
    font-size: 70px;
  }
  /*--Section 6th CSS Ends--*/
  
  /*--Section 7th CSS Starts--*/
  .Enroll-link{
    width: 400%;
    margin:auto;
    padding-top: 65px;
  }
  .Enroll-link h1{
    font-size: 65px;
  }
  /*--Section 7th CSS Ends--*/

  /*--btt CSS Starts--*/
  .backtotop{
    width: 200%;
    margin-bottom: 140px;
  }
  .btt {
    width: 50px;
    height: 50px;
    margin-left: 185%;
    margin-top: -50px;
  }
  .svgIcon {
    width: 15px;
  }
  /*--btt CSS Ends--*/

    /*--Footer as Section 8th CSS Starts--*/
    footer{
      width: 400%;
      border-top-left-radius: 100px;
      border-top-right-radius: 100px;
    }
    .footer-row{
      width: 85%;
      margin: auto;
      display: inline-block;
    }
    .footer-col{
      padding: 3px;
      display: flex;
      align-items: center;
    }
    .logo{
      width: 370px;
      margin-left: -50px;
      height: 370px;
    }
    footer p{
      font-size: 31px;
      line-height: 1.4;
    }
    .footer-col1{
      padding-top: 25px;
      margin-left: 10px;
    }
    .footer-col1 h3 {
      padding-bottom: 56px;
      padding-top: 30px;
      font-size: 36px;
    }
    .footer-col1 p {
      margin-left: -5px;
      padding-bottom: 20;
    }
    .footer-col2{
      padding-top: 50px;
      margin-left: 10px;
    }
    .footer-col3{
      padding-top: 38px;
      margin-left: 10px;
    }
    .footer-col3 h3{
      padding-bottom: 19px;
    }
    .footer-col1 h4 {
      padding-top: 50px;
      font-size: 36px;
    }
    .footer-col2 {
      padding-top: 90px;
      margin-left: 10px;
    }
    .footer-col2 h3 {
      padding-bottom: 65px;
      padding-top: 30px;
      font-size: 36px;
    }
    .footer-col2 ul li {
      list-style: none;
      margin-bottom: 35px;
    }
    .footer-col2 ul li a {
      text-decoration: none;
      color: #fff;
      font-size: 32px;
      font-weight: 400;
    }
    .footer-col3 {
      padding-top: 38px;
      margin-left: 10px;
    }
    .footer-col3 h3 {
      padding-bottom: 45px;
      padding-top: 35px;
      font-size: 36px;
    }
    .footer-col3 form {
      padding-top: 11px;
      padding-bottom: 35px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #ccc;
      margin-bottom: 50px;
    }
    .footer-col3 form .far {
      font-size: 35px;
      margin-right: 20px;
    }
    .footer-col3 form input {
      font-size: 27;
    }
    .footer-col3 form button .fas {
      font-size: 31px;
      color: #ccc;
    }
    .footer-col4 {
      padding-top: 40px;
      margin-left: 6px;
    }
    .footer-col4 .fab {
      width: 80px;
      height: 80px;
      line-height: 80px;
      font-size: 170%;
      margin-right: 25px;
    }
    .footer-col5 {
      padding-top: 36px;
      margin-left: 10px;
    }
    .footer-col5 h3 {
      padding-bottom: 35px;
      padding-top: 55px;
      font-size: 36px;
    }
    .footer-col5 p{
      margin-bottom: 30px;
      margin-left: -5;
    }
    .underline1{
      display: none;
    }
    .underline2{
      display: none;
    }
    .underline3{
      display: none;
    }
    .underline4{
      display: none;
    }
    /*--Footer as Section 8th CSS Ends--*/
  
  /*Newsletter CSS Starts*/
  .popup {
    top: 88%;
    left: 74%;
    width: 450px;
  }
    /*Newsletter CSS Ends*/
  }