*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

@media (min-width: 1851px) and (max-width: 1919px) {

}

@media (min-width: 1651px) and (max-width: 1850px) {

}

@media (min-width: 1441px) and (max-width: 1650px) {

}

@media (min-width: 1241px) and (max-width: 1440px) {

}

@media (min-width: 1025px) and (max-width: 1240px) {

}

/* 1024px - Tablets, laptops, and desktops */
@media only screen and (max-width: 1024px) {

}

@media (min-width: 851px) and (max-width: 980px) {

}

@media (min-width: 569px) and (max-width: 714px) {

}

/* 568px - Mobile devices */
@media only screen and (max-width: 568px) {
    /*--Section 1st CSS Starts--*/
    .wrapper {
        width: 0px;
        height: 0px;
    }
    .Aboutus {
        min-height: 403vh;
        width: 400%;
        top: 0%;
        background-position: center;
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .Aboutus nav {
        height: 150;
        background-color: transparent;
        transition: background-color 12600s ease;
        position: absolute;
        top: 85;
        width: 92%;
        z-index: 1000;
    }
    .Aboutus nav .logohumain{
        width: 295px;
        margin-left: -8%;
    }
    .Aboutus .nav-links{
        display: none;
    }
    .Aboutus .btnLogin-popup img{
        margin-top: 10;
        margin-left: 55;
    }
    .btnLogin-popup img {
        width: 100px;
    }
    .notif{
        display: none;
    }
    .littleaboutus {
        width: 90%;
        color: #fff;
        position: absolute;
        top: 41%;
        left: 50%;
        transform: translate(-50%, -50%);
  }
    .littleaboutus h1{
        font-size: 75px;
        padding-bottom: 20px;
        font-weight: bold;
        color: #fff;
        text-shadow: black 1px 3px 2px;
    }
    .littleaboutus p{
        color: #fff;
        font-size: 44px;
        line-height: 1.8;
        font-weight: 500;
    }
    .aboutusread{
        margin-top: 50;
        display: inline-block;
        text-decoration: none;
        padding: 30px 40px;
        border-radius: 15px;
        font-size: 38px;
        background: #2FAAE5;
        position: relative;
        cursor: pointer;
    }
    /*--Section 1st CSS Ends--*/

    /*--Section 2nd CSS Starts--*/
    .Process-add{
        width: 400%;
        margin: auto;
        margin-bottom: 0;
        margin-top: 100px;
    }
    .Process-add h1{
        text-align: center;
        font-size: 65px;
    }
    .process-add-col{
        text-align: center;
        padding-top: 10px;
    }
    .process-add-col img{
        width: 110%;
        margin-left: -2.5%;
        margin-top: 0;
    }
    /*--Section 2nd CSS Ends--*/

    /*--Section 3rd CSS Starts--*/
    .fee{
        width: 400%;
        margin: auto;
        margin-bottom: 0;
        margin-top: 60px;
    }
    .fee h1{
        text-align: center;
        font-size: 65px;
    }
    .fee-col{
        display: block;
        text-align: center;
        margin-top: 90px;
    }
    .fee-col img{
        width: 85%;
        border-radius: 15px;
        border: 1px solid rgb(194, 194, 194);
    }
    .disco{
        padding-bottom: 80px;
    }
    .disco2{
        padding-bottom: 80px;
        margin-top: -10px;
    }
    /*--Section 3rd CSS Ends--*/

    /*--Section 4th CSS Starts--*/
    .add-form{
        width: 400%;
        margin: auto;
        padding-top: 90px;
    }
    .add-form h1{
        text-align: center;
        font-size: 65px;
    }
    .form-col{
        margin-top: 90px;
        display: block;
        text-align: center;
    }
    .form-col-card img{
        width: 85.1%;
        border: 2px solid #d3d2d2;
        border-radius: 15px;
    }
    .bulb{
        display: none;
    }
    .Hero3-button {
        border-radius: 18px;
        display: inline-block;
        text-decoration: none;
        color: #fff;
        border: 1px solid #000000;
        padding: 30px 55px;
        font-size: 35px;
        background: black;
        position: relative;
        cursor: pointer;
        margin-left: 30%;
        margin-top: 90;
    }
    /*--Section 4th CSS Ends--*/

    /*--btt CSS Starts--*/
    .backtotop{
        width: 200%;
        margin-bottom: 140px;
    }
    .btt {
        width: 110px;
        height: 110px;
        margin-left: 171%;
        box-shadow: 0px 0px 0px 8px rgba(18, 16, 255, 0.258);
        margin-top: -115px;
    }
    .svgIcon {
        width: 22px;
    }
    /*--btt CSS Ends--*/

    /*--Footer as Section 8th CSS Starts--*/
    .norie{
        display: none;
    }
    footer{
        width: 400%;
        border-top-left-radius: 100px;
        border-top-right-radius: 100px;
      }
    .footer-row{
        width: 85%;
        padding-top: 35px;
        margin: auto;
        display: inline-block;
    }
    .footer-col{
        padding: 3px;
        display: flex;
        align-items: center;
    }
    .logo{
        width: 370px;
        margin-left: -50px;
        height: 370px;
    }
    footer p{
        font-size: 31px;
        line-height: 1.6;
    }
    .footer-col1{
        padding-top: 25px;
        margin-left: 10px;
    }
    .footer-col1 h3 {
        padding-bottom: 56px;
        padding-top: 30px;
        font-size: 36px;
    }
    .footer-col1 p {
        margin-left: -5px;
        padding-bottom: 20;
    }
    .footer-col2{
        padding-top: 50px;
        margin-left: 10px;
    }
    .footer-col3{
        padding-top: 38px;
        margin-left: 10px;
    }
    .footer-col3 h3{
        padding-bottom: 19px;
    }
    .footer-col1 h4 {
        padding-top: 50px;
        font-size: 36px;
    }
    .footer-col2 {
        padding-top: 90px;
        margin-left: 10px;
    }
    .footer-col2 h3 {
        padding-bottom: 65px;
        padding-top: 30px;
        font-size: 36px;
    }
    .footer-col2 ul li {
        list-style: none;
        margin-bottom: 35px;
    }
    .footer-col2 ul li a {
        text-decoration: none;
        color: #fff;
        font-size: 32px;
        font-weight: 400;
    }
    .footer-col3 {
        padding-top: 38px;
        margin-left: 10px;
    }
    .footer-col3 h3 {
        padding-bottom: 45px;
        padding-top: 35px;
        font-size: 36px;
    }
    .footer-col3 form {
        padding-top: 11px;
        padding-bottom: 35px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #ccc;
        margin-bottom: 50px;
    }
    .footer-col3 form .far {
        font-size: 35px;
        margin-right: 20px;
    }
    .footer-col3 form input {
        font-size: 27;
    }
    .footer-col3 form button .fas {
        font-size: 31px;
        color: #ccc;
    }
    .footer-col4 {
        padding-top: 40px;
        margin-left: 6px;
    }
    .footer-col4 .fab {
        width: 80px;
        height: 80px;
        line-height: 80px;
        font-size: 170%;
        margin-right: 25px;
    }
    .footer-col5 {
        padding-top: 36px;
        margin-left: 10px;
    }
    .footer-col5 h3 {
        padding-bottom: 35px;
        padding-top: 55px;
        font-size: 36px;
    }
    .footer-col5 p{
        margin-bottom: 50px;
        margin-left: -5;
    }
    .underline1{
        display: none;
    }
    .underline2{
        display: none;
    }
    .underline3{
        display: none;
    }
    .underline4{
        display: none;
    }
    /*--Footer as Section 8th CSS Ends--*/
    
    /*Newsletter CSS Starts*/
    .popup {
        top: 76%;
        left: 74%;
        width: 450px;
    }
    /*Newsletter CSS Ends*/
}